<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
		<sectionGroup name="Nostradabus">
			<sectionGroup name="BusinessEntitiesConstants">
				<section name="DayType" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
				<section name="TimeRange" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
			</sectionGroup>

			<sectionGroup name="Configurations">
				<section name="CommonSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
				<section name="LocalizationFormats" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
				<section name="EmailSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
				<section name="Scheduler" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
			</sectionGroup>
		</sectionGroup>
	</configSections>

	<Nostradabus>
		<BusinessEntitiesConstants>
			<DayType configSource="Config\DayType.config"></DayType>
			<TimeRange configSource="Config\TimeRange.config"></TimeRange>
		</BusinessEntitiesConstants>

		<Configurations>
			<CommonSettings configSource="Config\Common.config"></CommonSettings>
			<LocalizationFormats>
				<add key="DefaultCultureInfo" value="en-US" />
				<add key="ShortDatePattern" value="MM/dd/yy" />
				<add key="ShortDatePatternImport" value="M/d/yy" />
				<add key="ShortTimePattern" value="hh:mm tt" />
				<add key="ShortTimePatternImport" value="h:mm" />
				<add key="ShortDateTimePattern" value="MM/dd/yy hh:mm tt" />
				<add key="ShortDateTimePatternImport" value="M/d/yy h:mm tt" />
			</LocalizationFormats>
			<EmailSettings configSource="Config\EmailSettings.config"></EmailSettings>
			<Scheduler configSource="Config\Scheduler.config"></Scheduler>
		</Configurations>
	</Nostradabus>
	
</configuration>